@page
@model DespicableModel
@{
    ViewData["Title"] = "Despicable";
}
<h1>@ViewData["Title"]</h1>

<img src="/images/despicable.jpg" asp-append-version="true" style="width:1000px;height:668px;" class="mySlides">
<img src="/images/despicable.png" asp-append-version="true" style="width:1000px;height:668px;" class="mySlides">
<img src="/images/despicable2.jpg" asp-append-version="true" style="width:1000px;height:668px;" class="mySlides">
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

<div>
<br>
The goodbye is the hardest part
When we find ourselves back at the start
But I'm not so brave, and I'm not so smart, no
I'm doing you a favor, doing you a favor<br>
<br>
<br>
One day you will understand
Why I pushed you away as I am
And you will find a better man than I am
Trust, I'm doing you a favor, doing you a favor
(Ooh)<br>
<br>
Despicable
I'm just a bottom feeder (uh huh)
Despicable
I ain't never been a keeper (oh no)
Despicable
Love her then I leave her<br>
<br>
And if I were you, I wouldn't love me neither
Said if I were you, I wouldn't love me neither<br>
<br>
I wouldn't love me neither
Despicable<br>
<br>
The boy who fell into the sky
Had no one there to watch him cry
He looked at you with his empty eyes and said:
"I'm doing you a favor, doing you a favor."
(Ooh)<br>
<br>
Despicable
I'm just a bottom feeder (uh huh)
Despicable
I ain't never been a keeper (oh no)
Despicable
Love her then I leave her
And if I were you, I wouldn't love me neither<br>
<br>
</div>
