@page
@model PrivacyModel2
@{
    ViewData["Title"] = "New Time Road";
}
<h1>@ViewData["Title"]</h1>

<img src="/images/oldTimeRoad.png" asp-append-version="true" style="width:1000px;height:668px;">

<div>
<!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
<i>[Billy Ray Cyrus:]</i><br>
Oh, oh-oh<br>
Oh<br>
<br>
Yeah, I'm gonna take my horse to the old town road<br>
I'm gonna ride 'til I can't no more<br>
I'm gonna take my horse to the old town road<br>
I'm gonna ride 'til I can't no more<br>
(Kio, Kio)<br>
<br>
<i>[Lil Nas X:]</i><br>
I got the horses in the back<br>
Horse tack is attached<br>
Hat is matte black<br>
Got the boots that's black to match<br>
Ridin' on a horse, ha<br>
You can whip your Porsche<br>
I been in the valley<br>
You ain't been up off that porch, now<br>
<br>
Can't nobody tell me nothin'<br>
You can't tell me nothin'<br>
Can't nobody tell me nothin'<br>
You can't tell me nothin'<br>
<br>
Ridin' on a tractor<br>
Lean all in my bladder<br>
Cheated on my baby<br>
You can go and ask her<br>
My life is a movie<br>
Bull ridin' and boobies<br>
Cowboy hat from Gucci<br>
Wrangler on my booty<br>
<br>
Can't nobody tell me nothin'<br>
You can't tell me nothin'<br>
Can't nobody tell me nothin'<br>
You can't tell me nothin'<br>
<br>
Yeah, I'm gonna take my horse to the old town road<br>
I'm gonna ride 'til I can't no more<br>
I'm gonna take my horse to the old town road<br>
I'm gonna ride 'til I can't no more<br>
<br>
<i>[Billy Ray Cyrus:]</i><br>
Hat down, cross town, livin' like a rock star<br>
Spent a lot of money on my brand new guitar<br>
Baby's got a habit: diamond rings and Fendi sports bras<br>
Ridin' down Rodeo in my Maserati sports car<br>
Got no stress, I've been through all that<br>
I'm like a Marlboro Man so I kick on back<br>
Wish I could roll on back to that old town road<br>
I wanna ride 'til I can't no more<br>
<br>
<i>[Lil Nas X &amp; Billy Ray Cyrus:]</i><br>
Yeah, I'm gonna take my horse to the old town road<br>
I'm gonna ride 'til I can't no more<br>
I'm gonna take my horse to the old town road<br>
I'm gonna ride 'til I can't no more
</div>