@page
@model RequiemModel
@{
    ViewData["Title"] = "Requiem";
}
<h1>@ViewData["Title"]</h1>

<img src="/images/hello.jpg" asp-append-version="true" class="mySlides">
<img src="/images/hello2.jpg" asp-append-version="true" style="width:1000px;height:668px;" class="mySlides">
<img src="/images/hello3.jpg" asp-append-version="true" style="width:1000px;height:668px;" class="mySlides">
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

<br>
Pull up and I got Balmain Jeans,
They playing my songs in the parties,
Skrt over, just checking she love me,
I get in the club with no I.D,
There's music like Emmie like Avi,
Me and you not in the same league,
I'm in A, you in D league,
Wait,
Wait,
Wait,
Please get out my face,
Wait,
Wait,
Please get out my face,
Yeah my chain cost more than 20k,
I'm getting guap and that's everyday,
Two hundred my speed on the freeway,
I'm going to New York and that's this way,
All of my chains is on bling now,
Look at my ring is on bling blow,
[?] a year now,
I'm doing cities just like "how?"
When I'm at my shows I jump in the crowd,
I'm young and famous like Bow Wow,
They talk on a soldier [?]
You doing too much but just mack out,
I'm in the [?] like I lost a tooth,
You a liar, I'm the truth,
Fliest kid up at my school,<br>
(Kio, Kio)<br>
<br>
Who you?
Not in my crew,
Can't kick it with you,
Tell me that's the rule,
Who you?
Not in my crew,
Can't kick it with you,
Tell me that's the rule,<br>
<br>
